altair
pandas~=2.2
streamlit

# Requirements that are actually from the libs, but I don't want to install here all libs requirements
pydantic~=2.8
lxml
matplotlib
openai~=1.39
tiktoken~=0.4
unidecode
dateparser
nest-asyncio~=1.6
semantic-kernel==0.5.0.dev0
tabulate~=0.9